<div class="forms">
  <h2 class="forms-title">Posponer reserva</h2>
  <br>
  <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
    <%# <%= f.association :teaching_language_session, label: "Profesor", collection: TeachingLanguageSession.all.map{|t| ["#{t.language}-#{t.user.last_name}", t.id]}, prompt: 'Selecciona un idioma'  %>
    <%= f.input :time_in, label: "Hora de inicio", as: :string, input_html: { data: { flatpickr_target: "timeInput" } } %>
    <%= f.input :date, label: "Fecha", as: :string, input_html: { data: { flatpickr_target: "dateInput" } } %>
    <%= f.submit "Guardar reserva", class: 'btn btn-primary' %> <%= link_to "Regresar al inicio", bookings_path %>
  <% end %>
</div>
