<div class="row">

  <div class="col-md-4">
    <div class="card-container">
      <div class="titles-info">
        <h4>Idioma</h4>
      </div>
      <div class="infos">
        <h4>Nativo</h4>
        <P><%= @user.native_language %></P>      
      </div>
      <div class="infos">
        <h4>Habla con fluidez</h4>
        <p><%= @user.other_languages %></p>      
      </div>
      <div class="infos">
        <h4>Aprendiendo</h4>
        <p><%= @user.learning_languages %></p>     
      </div>
      <div class="infos">
        <% if @user.teacher? %>
          <h4>Enseña</h4>
          <p><%= @user.data_teacher.teaching_languages %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card-container">
      <div class="titles-info">
        <h4>Sobre <%= @user.first_name %> </h4>
      </div>
      <div class="infos">
        <h4></h4>
        <P><%= @user.country %>, <%= @user.city %></P>      
      </div>
      <div class="infos">
        <h4>¿Quieres conocer mas sobre mi?</h4>
        <p><%= @user.about_me %></p>      
      </div>
      <div class="infos">
        <h4>¿Cuáles son tus objetivos de aprendizaje de idiomas?</h4>
        <p><%= @user.objectives %></p>
      </div>
      <div class="infos">
        <% if @user.teacher? %>
          <h4>¿Cuáles son tus objetivos al enseñar idiomas?</h4>
          <p> <%= @user.data_teacher.teacher_description %></p>
        <% end %>      
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tercero">
      <div class="card-container">
        <div class="titles-info">
          <h4>Fotos</h4>
          <p>Ver mas</p>
        </div>

        <div class="fotos-container">
          <% if @user.photo_album.attached? && @user.photo_album.present? %>
            <div class="row">
              <% @user.photo_album.each do |foto| %>
                <div class="col-md-4">
                  <%= image_tag foto, class: "img-fluid" %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No hay fotos disponibles</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
