<div class="row">
  <%# section idioma Reseñas--------------------------------------------------- %>
  <div class="col-md-4">
    <div class="card-container">
      <div class="titles-info">
        <h4>Idioma</h4>
      </div>
      <div class="infos">
        <h4>Nativo</h4>
        <p><%= @user.native_language %></p>
      </div>
      <div class="infos">
        <h4>Habla con fluidez</h4>
        <p><%= @user.other_languages %></p>
      </div>
      <div class="infos">
        <h4>Aprendiendo</h4>
        <p><%= @user.learning_languages %></p>
      </div>
      <div class="infos">
        <% if @user.teacher? %>
          <h4>Enseña</h4>
          <p><%= @user.data_teacher.teaching_languages %></p>
        <% end %>
      </div>
    </div>

    <div class="card-container">
      <div class="titles-info">
        <div class="total-reviews">
          <h4>Reseñas</h4>
          <p><%= @reviews.size %></p>
        </div>
        <% if @reviews.exists?(user_id: current_user.id) %>
          <p>Gracias por dejar tu Reseña.</p>
        <% else %>
          <%= link_to new_review_path do %>
            <i class="fa-solid fa-circle-plus"></i>
          <% end %>
        <% end %>
      </div>
      <div class="infos">
        <% unless @reviews.empty? %>
          <% @reviews.each do |review| %>
            <div class="review-img-name-rating">
              <%= image_tag review.user.profile_photo %>
              <div class="name-fecha">
                <h4><%= review.user.first_name %></h4>
                <span class="review-date"><%= review.created_at.strftime('%d/%m/%Y') %></span>
              </div>


              <div class="rating-select" data-target="rating.ratingInput">
                <% rating_value = review.rating.to_i %>
                <% (1..review.rating).each do |value| %>
                  <span class="fa fa-star <%= 'selected' if value <= rating_value %>"></span>
                <% end %>
              </div>



            </div>
            <p><%= review.comment %></p>
          <% end %>
        <% else %>
          <p><strong><%= @user.first_name %></strong> aún no tiene reseñas.</p>
        <% end %>
      </div>
    </div>
  </div>

  <%# section Sobre mi--------------------------------------------------- %>
  <div class="col-md-4">
    <div class="card-container">
      <div class="titles-info">
        <h4>Sobre <%= @user.first_name %> </h4>
      </div>
      <div class="infos">
        <h4></h4>
        <p><%= @user.country %>, <%= @user.city %></p>
      </div>
      <div class="infos">
        <h4>¿Quieres conocer más sobre mí?</h4>
        <p><%= @user.about_me %></p>
      </div>
      <div class="infos">
        <h4>¿Cuáles son tus objetivos de aprendizaje de idiomas?</h4>
        <p><%= @user.objectives %></p>
      </div>
      <div class="infos">
        <% if @user.teacher? %>
          <h4>¿Cuáles son tus objetivos al enseñar idiomas?</h4>
          <p> <%= @user.data_teacher.teacher_description %></p>
        <% end %>
      </div>
    </div>
  </div>

  <%# section Fotos--------------------------------------------------- %>
  <div class="col-md-4">
    <div class="tercero">
      <div class="card-container">
        <div class="titles-info">
          <h4>Fotos</h4>
          <p>Ver más</p>
        </div>
        <div class="fotos-container">
          <% if @user.photo_album.attached? && @user.photo_album.present? %>
            <div class="row">
              <% @user.photo_album.each do |foto| %>
                <div class="col-md-4">
                  <%= image_tag foto, class: "img-fluid" %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No hay fotos disponibles</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
