<div class ="footer">
 <div class="container">
    <div class="footer-row">
      <div class="footer-links">
        <h2> Sobre nosotros</h2>
        <p> <%= link_to "Quienes somos","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "¿Cómo funciona?","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Reseñas sobre Lingua","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Trabaja en Lingua","#", class: "nav-link" %>
        </li></p>
      </div>
      <div class="footer-links">
        <h2>Para estudiante</h2>
        <p> <%= link_to "Blog de Lingua","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Preguntas y respuestas","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Descuento para estudiantes","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Evalúa tu ingles","#", class: "nav-link" %>
        </li></p>
      </div>
      <div class="footer-links">
        <h2>Para Profesores</h2>
        <p> <%= link_to "Conviértete en un profesor en linea","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Enseñar ingles online","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Enseñar francés online","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Enseñar español online","#", class: "nav-link" %>
        </li></p>
        <p> <%= link_to "Enseñar otros idiomas","#", class: "nav-link" %>
        </li></p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Copyrights 2022 EDUCACIÓN GLOBAL</h5>
  </div>
</div>
