<div class="footer">
  <div class="footer-container">
    <div class="row" style="padding: 4px;">
      <div class="col-md-4 footer-links">
        <div class="links">
          <h2>Sobre nosotros</h2>
          <p><%= link_to "Quiénes somos", "#", class: "nav-link" %></p>
          <p><%= link_to "¿Cómo funciona?", "#", class: "nav-link" %></p>
          <p><%= link_to "Reseñas sobre Lingua", "#", class: "nav-link" %></p>
          <p><%= link_to "Trabaja en Lingua", "#", class: "nav-link" %></p>
        </div>
      </div>

      <div class="col-md-4 footer-links">
        <div class="links">
          <h2>Para estudiantes</h2>
          <p><%= link_to "Blog de Lingua", "#", class: "nav-link" %></p>
          <p><%= link_to "Preguntas y respuestas", "#", class: "nav-link" %></p>
          <p><%= link_to "Descuento para estudiantes", "#", class: "nav-link" %></p>
          <p><%= link_to "Evalúa tu inglés", "#", class: "nav-link" %></p>
      </div>
      </div>

      <div class="col-md-4 footer-links">
        <div class="links">
          <h2>Para profesores</h2>
          <p><%= link_to "Conviértete en un profesor en línea", "#", class: "nav-link" %></p>
          <p><%= link_to "Enseñar inglés online", "#", class: "nav-link" %></p>
          <p><%= link_to "Enseñar francés online", "#", class: "nav-link" %></p>
          <p><%= link_to "Enseñar español online", "#", class: "nav-link" %></p>
          <p><%= link_to "Enseñar otros idiomas", "#", class: "nav-link" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5>Copyrights 2022 EDUCACIÓN GLOBAL</h5>
  </div>
</div>

