<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand"  do %>
      <%= image_tag "https://res.cloudinary.com/dinso4to6/image/upload/v1702746045/Property_1_Frame_566_qq1z9u.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="gap: 8px;">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Comunidad", students_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Encuentra un profesor", teachers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Chat", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mis clases", teaching_language_sessions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs", blogs_path, class: "nav-link" %>
          </li>

          <!-- MENÚ DESPLEGABLE -->
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="div-image">
                <% if current_user.profile_photo.attached? %>
                  <%= cl_image_tag current_user.profile_photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dinso4to6/image/upload/v1702747734/WhatsApp_Image_2023-12-16_at_14.08.37_baunyp.jpg", class: "avatar", alt: "Menú desplegable" %>
                <% end %>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "https://res.cloudinary.com/dinso4to6/image/upload/v1702746045/Property_1_Frame_566_qq1z9u.png" %>
              <% end %>

              <%# Agregar enlaces del menú desplegable %>
              <% menu_items = [
                ["Mi Perfil", edit_user_registration_path],
                ["Idiomas", edit_user_registration_path],
                ["Certificados", edit_user_registration_path],
                ["Temas", edit_user_registration_path],
                ["Siguiendo", edit_user_registration_path],
                ["Clases", edit_user_registration_path],
                ["Chats", edit_user_registration_path],
                ["Blogs", edit_user_registration_path],
                ["Ajustes", edit_user_registration_path],
                ["Visitantes", edit_user_registration_path]
              ] %>
              <% menu_items.each do |item| %>
                <%= link_to item[0], item[1], class: "dropdown-item" %>
              <% end %>

              <br>
              <br>
              <button type="button" class="btn btn-custom">Cerrar</button>

              <%# <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>



        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%# el ideal es hacer todo con Bootstrap %>
