<div class="container" style="max-width: 1440px;">
  <div class="row" style="padding: 4px;">
    <% @students.take(12).each do |student| %>
      <div class="col-md-2" id="card-student_comunity" >
        <%= link_to user_path(student), style: "text-decoration: none; color: inherit;" do %>
          <div class="card-community-home">
            <div class="img">
              <% if student.profile_photo.present? %>
                <%= image_tag student.profile_photo, class: "card-img-top", alt: "foto de perfil del profesor" %>
              <% else %>
                <%= image_tag 'gatito.jpg', class: "card-img-top", alt: "Foto por defecto" %>
              <% end %>
            </div>
            <div class="infos">
              <h4 class="name"><%= student.first_name %></h4>
              <p class="abaut-me"><%= student.about_me %></p>
            </div>
            <div class="languague">
              <p class="speaks">Nativo: <%= student.native_language %></p>
              <p class="learns">Aprende: <%= student.learning_languages %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

